fastapi
uvicorn[standard]
jinja2
python-multipart

pydantic
pydantic-settings
python-dotenv

sqlalchemy
psycopg[binary]

langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-ollama
langchain-huggingface

chromadb
sentence-transformers

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

pandas
openpyxl
pypdf


